.background-color {
  /* The gradient used */
  background-image: linear-gradient(to bottom, #4f7fd1, #637dd2, #757bd1, #8678d0, #9575cd);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* color text */
  color: var(--color-white);
}
