.btn {
  background-color: transparent;
  margin-top: 2%;
  border-radius: 10px;
}

.btn-helping, .btn-helper {
  border: 1px solid var(--color-white);
  color: var(--color-white);
}

.btn-helping:hover, .btn-helper:hover  {
  border-width: 1px;
  border-style: solid;
}
.btn-helping:hover{
  border-image: linear-gradient(to bottom, #42a5f5, #33adf8, #23b4fa, #11bbfb, #00c2fb);
  background-image: linear-gradient(to bottom, #42a5f5, #33adf8, #23b4fa, #11bbfb, #00c2fb);
}

.btn-helper:hover {
  border-image:  linear-gradient(to bottom, #8179d7, #8773d1, #8d6dcb, #9266c5, #9760be);
  background-image: linear-gradient(to bottom, #8179d7, #8773d1, #8d6dcb, #9266c5, #9760be);
}

.btn-flat {
  border: 1px solid var(--color-white);
  color: rgba(66,165,245 ,1);
}

.btn-flat:hover {
  background-color: rgba(66,165,245 ,1);
  color: var(--color-white);
}
