<h2 class="card-title">Registrarse</h2>
<h6>
  Hola, sabemos que el proceso puede ser un poco largo... Pero todo es con el fín de poder cambiar tu día
</h6>
<hr>
<div class="row">
  <div class="col s12">
    <h5>Primero necesitamos saber quién eres.</h5>
  </div>
  <div class="col s12 m6">
    <a class="btn btn-helping" routerLink="/access/register/patient">Soy Paciente</a>
  </div>
  <div class="col s12 m6">
    <a class="btn btn-helper" routerLink="/access/register/doctor">Soy Psicologo</a>
  </div>
</div>
