.btn-return {
  background-color: transparent;
  border: 1px solid deepskyblue;
  color: white;
  transition: color 500ms ease-in-out, background-color 500ms ease-in-out;
}

.btn-return:hover {
  background-color:  deepskyblue;
  transition: color 500ms ease-in-out, background-color 500ms ease-in-out;
}
