/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
* {
  $color-main: #5368CF;
  $color-accent: #7E57C2;
  $color-white: #AAA9BC;
  $color-black: #464555;
  padding: 0;
  margin: 0;
}

body, html {
  height: 100%;
}
