/* You can add global styles to this file, and also import other style files */
* {
  --color-main: #4F7FD1;
  --color-accent: #9575CD;
  --color-white: #FEFEFE;
  --color-black: #464555;
  padding: 0;
  margin: 0;
}

body, html {
  height: 100%;
}

.btn {
  transition: background-color 100ms ease-in-out, color 100ms ease-in-out;
}

.datepicker-calendar {
  color: black !important;
}
